{% load static%}
<!DOCTYPE html>
<html lang="zxx" class="js">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>{% block title %}Dashboard - Campaign | DashLite Admin Template{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
</html>