{% load static %}
<div class="nk-sidebar is-light nk-sidebar-fixed " data-content="sidebarMenu">
          <div class="nk-sidebar-element nk-sidebar-head">
            <div class="nk-sidebar-brand">
              <a href="/dashboard" class="logo-link nk-sidebar-logo">
                <img class="logo-light logo-img" src="{% static 'images/logo.png' %}" alt="logo">
                <img class="logo-dark logo-img" src="{% static 'images/logo-dark.png' %}" alt="logo-dark">
                <img class="logo-small logo-img logo-img-small" src="{% static 'images/logo-small.png' %}" alt="logo-small">
              </a>
            </div>
            <div class="nk-menu-trigger me-n2">
              <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu">
                <em class="icon ni ni-arrow-left"></em>
              </a>
            </div>
          </div>
          <div class="nk-sidebar-element">
            <div class="nk-sidebar-content">
              <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                  <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">Dashboard</h6>
                  </li>
                  <li class="nk-menu-item">
                    <a href="{% url 'dashboard' %}" class="nk-menu-link">
                      <span class="nk-menu-icon">
                        <em class="icon ni ni-presentation"></em>
                      </span>
                      <span class="nk-menu-text">Dashboard</span>
                    </a>
                  </li>
                  <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">Customer Section</h6>
                  </li>
                  <li class="nk-menu-item has-sub">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                      <span class="nk-menu-icon">
                        <em class="icon ni ni-user-list"></em>
                      </span>
                      <span class="nk-menu-text">Customers</span>
                    </a>
                    <ul class="nk-menu-sub">
                      <li class="nk-menu-item">
                        <a href="{% url 'customer-list' %}" class="nk-menu-link">
                          <span class="nk-menu-text">Customer List</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">Account Section</h6>
                  </li>
                  <li class="nk-menu-item has-sub">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                      <span class="nk-menu-icon">
                        <em class="icon ni ni-cart"></em>
                      </span>
                      <span class="nk-menu-text">Accounts</span>
                    </a>
                    <ul class="nk-menu-sub">
                      <li class="nk-menu-item">
                        <a href="{% url 'ledger-list' %}" class="nk-menu-link">
                          <span class="nk-menu-text">Ledger</span>
                        </a>
                      </li>
                      <li class="nk-menu-item">
                        <a href="#" class="nk-menu-link">
                          <span class="nk-menu-text">Sales</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
</div> 