{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js"></html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="Softnio">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
  <title>Admin Login</title>
  <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}">
  <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
  <!-- Toastr CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>

  <!-- Include jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Toastr JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body class="nk-body ui-rounder npc-general ui-light pg-auth">
  <div class="nk-app-root">
    <div class="nk-main ">
      <div class="nk-wrap nk-wrap-nosidebar">
        <div class="nk-content ">
          <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
            <div class="card">
              <div class="card-inner card-inner-lg">
                <div class="nk-block-head">
                  <div class="nk-block-head-content">
                    <h4 class="nk-block-title">Admin Login</h4>
                    <div class="nk-block-des">
                    </div>
                  </div>
                </div>
                <form action="{% url 'login' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="form-label-group">
                      <label class="form-label" for="default-01">Username</label>
                    </div>
                    <div class="form-control-wrap">
                      <input type="text" name="username" class="form-control form-control-lg" id="default-01" placeholder="Enter your username">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label-group">
                      <label class="form-label" name="password" for="password">Password</label>
                    </div>
                    <div class="form-control-wrap">
                      <a href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                        <em class="passcode-icon icon-show icon ni ni-eye"></em>
                        <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                      </a>
                      <input type="password" name="password" class="form-control form-control-lg" id="password" placeholder="Enter your passcode">
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == "success" %}
          toastr.success("{{ message }}", "Success");
          setTimeout(function() {
            window.location.href = "{% url 'dashboard' %}";
          }, 1500);
        {% elif message.tags == "error" %}
          toastr.error("{{ message }}", "Error");
        {% endif %}
      {% endfor %}
    {% endif %}
  </script>
  </body>
  </html>